<div fxLayout="column" fxLayoutAlign="start stretch" class="pango-drawer w-100-p h-100-p">
  <div class="pango-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="pango-drawer-header-title">
      Selected Annotation</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="pango-rounded-button pango-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="pango-drawer-body" fxLayout="row" fxLayoutAlign="start start" pangoPerfectScrollbar>
    <div *ngIf="module" class="module-display">
      <div class="module-header">Module Term: {{ module.module_term }}</div>
      <div *ngFor="let node of module.nodes" class="node">
        <h4>{{ node.label }}</h4>
        <p><strong>PTN ID:</strong> {{ node.ptn_id }}</p>
        <div>
          <strong>Terms:</strong>
          <span class="terms" *ngFor="let term of node.terms">{{ term }}</span>
        </div>
        <div>
          <strong>Leaf Genes:</strong>
          <span class="genes" *ngFor="let gene of node.leaf_genes" [ngClass]="{'matched-gene': isGeneMatched(gene)}">{{
            gene }}</span>
        </div>
      </div>
    </div>


  </div>
  <!--   <div fxLayout="row" fxLayoutAlign="start center" class="pango-drawer-footer pango-submit-row">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Close</button>
  </div> -->
</div>