<div fxLayout="column" fxLayoutAlign="start stretch" class="pango-drawer w-100-p h-100-p">
  <div class="pango-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="pango-drawer-header-title">
      Selected Annotation</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="pango-rounded-button pango-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="pango-drawer-body" fxLayout="row" fxLayoutAlign="start start" pangoPerfectScrollbar>
    <div *ngIf="module" class="pango-module-display">
      <h2 class="pango-module-header">Module Term: {{ module.moduleLabel }}<br>
        (<a href="{{pangoUrlLinkerService.linkAmigoTerm(module.moduleId)}}" target="_blank">
          {{ module.moduleId }}
        </a>)
      </h2>
      <p><strong>Matched:</strong> {{module.matchPercentage}}%</p>
      <div *ngFor="let node of module.nodes" class="pango-node" [ngClass]="{'matched-node': node.matched}"
        fxLayout="column" fxLayoutAlign="start start">
        <div class="pangp-node-section w-100-p" fxLayout="column" fxLayoutAlign="start start">
          <strong>Module Component: </strong>
          <ul>
            <li>
              <a href="{{pangoUrlLinkerService.linkPanTree(node.nodeId)}}" target="_blank">{{ node.nodeLabel }}</a>
            </li>
          </ul>
        </div>
        <div class="pangp-node-section w-100-p" fxLayout="column" fxLayoutAlign="start start">
          <strong>Gene(s)</strong>
          <ul>
            <li *ngFor="let gene of node.leafGenes" [ngClass]="{'matched-gene': isGeneMatched(gene)}">
              <a href="{{pangoUrlLinkerService.getUniprotLink(gene.gene)}}" target="_blank">{{ gene.geneSymbol }}</a>
              {{ gene.geneName }}
            </li>
          </ul>
        </div>
        <div class="pangp-node-section w-100-p" fxLayout="column" fxLayoutAlign="start start">
          <strong>Term(s)</strong>
          <ul>
            <li *ngFor="let term of node.terms">
              {{ term.label }}
              (<a href="{{pangoUrlLinkerService.linkAmigoTerm(term.id)}}" target="_blank">
                {{ term.id }}
              </a>)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>