<div class="w-100-p" fxLayout="row" fxLayoutAlign="start start">
  <div class="pango-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <div class="pango-sidemenu-header" fxLayout="row" fxLayoutAlign="center center">
      Tools
    </div>
    <button mat-icon-button color="" class="pango-rounded-button"
      [ngClass]="{'pango-active': pangoMenuService.selectedLeftPanel === LeftPanel.GENE_LIST}" (click)="openGeneList()"
      matTooltip="My uploaded Gene List" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'list']"></fa-icon>
      <div class="pango-label">
        My Genes
      </div>
    </button>
    <button mat-icon-button color="" class="pango-rounded-button"
      [ngClass]="{'pango-active': pangoMenuService.selectedLeftPanel === LeftPanel.BROWSER}" (click)="openBrowser()"
      matTooltip="Search and Filter" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      <div class="pango-label">
        Filter
      </div>
    </button>

  </div>
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start" autosize>
    <mat-drawer #leftDrawer class="pango-left-drawer" mode="side" position="start" opened="true">
      <ng-container [ngSwitch]="pangoMenuService.selectedLeftPanel">
        <div *ngSwitchCase="LeftPanel.BROWSER" fxLayout="column" fxLayoutAlign="start stretch"
          class="pango-browser-drawer pango-drawer h-100-p">
          <div class="pango-drawer-header" fxLayout="row" fxLayoutAlign="start center">
            <span class="pango-drawer-header-title"> Filter Options</span>
            <span fxFlex></span>
            <button mat-stroked-button (click)="closeLeftDrawer()" class="pango-rounded-button pango-xs" color="primary"
              aria-label="Close dialog"
              matTooltip="Expand your viewing space by hiding the filter panel and focus on the results. To bring back the panel, simply click the menu icon [hamburger icon] located at the top left corner."
              [matTooltipPosition]="'above'" [matTooltipShowDelay]="3000">
              Close
            </button>
          </div>
          <div class="pango-drawer-body">
            <pango-annotation-tree>
            </pango-annotation-tree>
          </div>
        </div>
        <pango-gene-list class="h-100-p" [panelDrawer]="leftDrawer" *ngSwitchCase="LeftPanel.GENE_LIST">
        </pango-gene-list>
      </ng-container>
    </mat-drawer>
    <mat-drawer-content #scrollbarRef class="pango-section-body w-100-p">
      <div class="w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="pango-header accent w-100-p" fxLayout="column" fxLayoutAlign="start start">
          <h1>
            PAN-GO: BP Modules
          </h1>
          <h2>
            This tool is designed for analysis of single-cell RNA-seq data. It takes an input list of genes that are
            expressed in a cell, and converts it to a set of “active modules” that are potentially operating in that
            cell.
          </h2>
          <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">
              See any missing or incorrect functions? <a href="https://help.geneontology.org/" target="_blank">Let us
                know!</a>
            </h3>
          </div>
        </div>

        <div class="pango-summary-filter-bar" fxLayout="row" fxLayoutAlign="start center">
          <span *ngIf="annotationService.searchCriteria.filtersCount===0" (click)="clearAllFilters()"
            class="pango-no-info">
            No FIlters selected: You can filter the list to find a specific gene or function category.
          </span>

          <ng-container *ngIf="annotationService.searchCriteria.filtersCount>0">
            <small class="mr-12">Filtered By: </small>

            <mat-chip (click)="clearAllFilters()" class="pango-clearall-chip">
              Clear All
            </mat-chip>
          </ng-container>

          <mat-chip *ngIf="annotationService.searchCriteria[SearchFilterType.GENES].length>0" class="pango-filter-chip"
            [removable]="true" (removed)="removeFilter(SearchFilterType.GENES)"
            matTooltip="{{annotationService.searchCriteria.genesTooltip}}" [matTooltipPosition]="'below'"
            [matTooltipShowDelay]="2000">
            Genes <span> ({{
              annotationService.searchCriteria[SearchFilterType.GENES].length}})</span>
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

        </div>
        <!--  <pango-summary-stats></pango-summary-stats> -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li *ngFor="let crumb of breadcrumbsService?.categoryBreadcrumbs" class="breadcrumb-item">
              <a (click)="onBreadcrumbClick(crumb.level)">{{ crumb.label }}</a>
            </li>
          </ol>
        </nav>

        <div class="w-100-p" [ngSwitch]="pangoMenuService.selectedMiddlePanel">
          <pango-annotation-group *ngSwitchCase="MiddlePanel.DEFAULT" class="w-100-p"
            [annotationPage]="annotationPage"></pango-annotation-group>

          <pango-annotation-category *ngSwitchCase="MiddlePanel.CATEGORY" class="w-100-p"
            [annotationPage]="annotationPage"></pango-annotation-category>
        </div>

      </div>
      <div class="w-100-p">
        <pango-footer></pango-footer>
      </div>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="pango-right-drawer" mode="over" position="end">
      <div class="h-100-p" [ngSwitch]="pangoMenuService.selectedRightPanel">
        <pango-annotation-detail [panelDrawer]="rightDrawer" *ngSwitchCase="RightPanel.DETAIL">
        </pango-annotation-detail>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>