@use "@angular/material" as mat;
@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";
$primary: map-get($theme, primary);

:host {
  width: 100%;

  .pango-sidemenu {
    padding: 0;
    @include deep-height(100%);
    @include deep-width(60px);
    // @include mat-elevation(2);
    border-right: #999 solid 1px;
    background-color: $pango-primary-color-light;

    .pango-sidemenu-header {
      width: 100%;
      padding: 0 5px;
      margin-bottom: 20px;
      @include deep-height(40px);
      @include mat.elevation(2);
      z-index: 1000;
      color: #fff;
    }

    .pango-label {
      text-transform: uppercase;
      font-size: 8px;
      font-weight: bold;
    }

    button {
      @include deep-width(90px);
      @include deep-height(60px);
      line-height: 25px;
      border-radius: 0 !important;

      font-size: 20px;
      // color: rgba(map-get($primary, default), 0.5);
      color: #ddd;

      &.pango-active {
        font-size: 28px;
        color: map-get($primary, default);
        color: #fff;
      }
    }
  }

  .pango-left-drawer {
    // width: 380px;
    border-right: #111 solid 1px;

    .pango-menu-section {
      width: 100%;
    }
  }

  .pango-browser-drawer {
    @include deep-width(300px !important);
  }

  pango-summary-stats {
    display: block;
    //@include deep-height(300px !important);
  }

  pango-gene-form {
    @include deep-width(300px !important);
    display: block;
  }

  pango-gene-list {
    @include deep-width(300px !important);
    display: block;
  }

  pango-term-form {
    @include deep-width(100% !important);
    display: block;
  }

  pango-annotation-detail {
    @include deep-width(500px !important);
  }
  pango-annotation-summary,
  pango-annotation-stats {
    @include deep-width(600px !important);
  }
}

.pango-header {
  padding: 20px;
  background-image: linear-gradient(
      to right,
      $pango-primary-color-light,
      rgba($pango-primary-color, 0.8),
      rgba($pango-primary-color-light, 0.5)
    ),
    url("~assets/images/gene.jpeg");
  background-blend-mode: initial;
  background-size: cover;
  background-position: top;
  position: relative;
  flex: 1 0 auto;
  height: 170px;
  min-width: 800px;
  max-height: 400px;
  //text-align: center;
  //overflow: hidden;

  @include media-breakpoint("lt-md") {
    // height: 50px;
    min-width: 100%;
  }

  a {
    color: $pango-accent-color;
    &:hover {
      color: lighten($pango-accent-color, 10);
    }
  }

  h1 {
    margin: 8px 0;
    padding: 0 0 2px 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    //text-align: center;
    color: rgba(white, 0.9);

    @include media-breakpoint("lt-md") {
      font-size: 18px;
    }
  }

  h2 {
    margin: 0;
    max-width: 550px;
    // text-align: center;
    font-size: 12px;
    font-weight: 520;
    letter-spacing: 0.03em;
    color: #ffffff;
    line-height: 20px;

    @include media-breakpoint("lt-lg") {
      max-width: 80%;
    }
  }

  h3 {
    margin-bottom: 12px;
    max-width: 520px;
    //text-align: center;
    font-size: 10px;
    font-weight: 300;
    color: #ffffff;
    line-height: 20px;

    @include media-breakpoint("lt-lg") {
      max-width: 80%;
    }
  }

  h4 {
    padding-top: 10px;
    max-width: 80%;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    margin: 0;
    color: rgba(#ffffff, 0.8);
  }
}

.pango-summary-filter-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 4px;
  padding: 0 10px;
  @include deep-height(30px);
  @include deep-width(100%);
  //  min-height: 40px; //min-height: 35px;
  background-color: #fff;
  font-size: 16px;
  overflow: hidden;
  z-index: 10;

  .pango-no-info {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #aaa;
  }

  @include mat-elevation(2);

  mat-chip-list {
  }

  mat-chip {
    margin-right: 8px;
    font-weight: normal;
    font-size: 10px;
    @include deep-height(25px);

    &.pango-filter-chip {
      font-size: 10px;
      @include pango-chip-color(#bbc9cc);

      .pango-filter-number {
        font-weight: bold;
        color: map-get($primary, default);
      }
    }

    &.pango-clearall-chip {
      @include pango-chip-color(#da7f7f);
      font-size: 10px;
    }
  }
}

.breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  align-items: center;

  .breadcrumb-item {
    & + .breadcrumb-item::before {
      content: ">";
      padding: 0 8px;
      color: #6c757d;
    }

    a {
      color: #007bff;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: #6c757d; // Color for the current (last) item
      pointer-events: none;
    }
  }
}

.pango-filter-section {
  margin: 8px;
  padding: 8px;
  background-color: rgba(map-get($accent, default), 0.5);
  .pango-heading {
    width: 100%;
    color: #eee;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 8px;
    overflow: hidden;

    &:before,
    &:after {
      background-color: #ddd;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }

    &:before {
      right: 0.5em;
      margin-left: -50%;
    }

    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }
}

.pango-section-body {
  min-height: 1000px;
  background-color: #fff;
}

.pango-middle-panel {
  min-height: 500px;
  border-bottom: 200px;
}

.pango-gene-form {
  padding: 15px;
  @include deep-width(500px);
}
