<div class=" pango-dialog" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar class="pango-dialog-header mat-primary m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="start center">
      <span class="title dialog-title">
        Gene List </span>
      <span fxFlex></span>
      <button mat-stroked-button (click)="close()" class="pango-rounded-button pango-sm" aria-label="Close dialog">
        <mat-icon>close</mat-icon> Close
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="pango-dialog-content">
    <div class="h-100-p" name="geneFormGroup" [formGroup]="geneFormGroup" fxLayout="column"
      fxLayoutAlign="start stretch">
      <mat-form-field class="w-100-p" appearance="outline">
        <mat-label>File Name</mat-label>
        <input matInput formControlName="description" placeholder="File Name" />
      </mat-form-field>
      <div fxFlex="" class="gene-table w-100-p mt-12" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="gene-row gene-header">
          <div class="gene-column">Gene</div>
          <div class="gene-column">Gene Symbol</div>
          <div class="gene-column">Gene Name</div>
        </div>
        <div fxFlex="">
          <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
            <div *cdkVirtualFor="let gene of genes" class="gene-row">
              <div class="gene-column">{{ gene.gene }}</div>
              <div class="gene-column">{{ gene.geneSymbol }}</div>
              <div class="gene-column">{{ gene.geneName }}</div>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>

    <div *ngIf="!dataSource" class="w-100-p h-100-p" fxFlex="" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="pango-no-info">
        No Results
      </div>
    </div>
  </div>
  <div class="m-0 p-16 pango-dialog-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">
      Cancel</button>
    <button (click)="save()" type="button" mat-raised-button color="primary">
      Save
    </button>
  </div>
</div>