@use "@angular/material" as mat;
@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .pango-dialog-body {
    margin: 0;
    padding: 0;
    @include deep-width(100%);
  }

  .mat-dialog-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .pango-dialog-header {
    flex-shrink: 0;
  }

  .pango-dialog-content {
    padding: 12px;
    overflow-y: auto;
    flex-grow: 1;
  }

  /* Dialog Footer */
  .pango-dialog-footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
  }
  .mat-dialog-container {
    padding: 0;
  }
  .pango-no-info {
    font-size: 16px;
  }
  .gene-table {
    width: 100%;
  }

  .gene-header,
  .gene-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gene-header {
    background-color: #f0f0f0; /* Header background */
    font-weight: bold;
  }

  .gene-column {
    flex: 1;
    padding: 0 10px;
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #ddd;
    font-size: 12px;
  }

  .example-viewport {
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
  }

  .gene-row {
    height: 50px; /* Match itemSize */
  }
}
