@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .footer {
    background: $pango-primary-color;
    background: linear-gradient(
      to right,
      $pango-primary-color 0%,
      $pango-primary-color-light 100%
    );
    padding: 20px;
    color: #fff;
  }
}
