<div class="pango-table-form pango-form-section" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="pango-section-header" fxLayout="row" fxLayoutAlign="start center">
    <div class="pango-section-heading">
      Categories
    </div>
    <span fxFlex></span>
  </div>
  <div class="pango-section-body" fxLayout="column" fxLayoutAlign="start stretch">

    <ngx-charts-tree-map [view]="existsPieOptions.view" [results]="categories" (select)="onSelect($event)">
    </ngx-charts-tree-map>
  </div>
</div>