@use "@angular/material" as mat;
@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  a {
    cursor: pointer;
  }
  .pango-sidemenu {
    padding: 0;
    @include deep-height(100%);
    @include deep-width(60px);
    // @include mat-elevation(2);
    border-right: #999 solid 1px;
    background-color: #55407a;

    .pango-sidemenu-header {
      width: 100%;
      padding: 0 5px;
      margin-bottom: 20px;
      @include deep-height(40px);
      @include mat.elevation(2);
      z-index: 1000;
      color: #fff;
    }

    .pango-label {
      text-transform: uppercase;
      font-size: 8px;
      font-weight: bold;
    }

    button {
      @include deep-width(90px);
      @include deep-height(60px);
      line-height: 25px;
      border-radius: 0 !important;

      font-size: 20px;
      // color: rgba(map-get($primary, default), 0.5);
      color: #ddd;

      &.pango-active {
        font-size: 28px;
        color: map-get($primary, default);
        color: #fff;
      }
    }
  }
  .module-container {
    margin-bottom: 20px;
  }

  .pango-section {
    padding: 0 12px;
    margin-bottom: 20px;
  }

  .pango-section-title {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.5em;
  }

  .pango-category-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .pango-category-title {
    padding-right: 8px;
    font-size: 10px;
    color: #555;
    @include deep-width(150px);
    text-align: right;
  }

  .pango-matrix {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(50px, 1fr)
    ); /* Responsive columns */
    grid-auto-rows: 50px;
    gap: 0px;
  }

  .pango-square {
    position: relative;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

    .pango-positive {
      position: absolute;
      top: 0;
      right: 0;
      height: 50%;
      width: 50%;
      background-color: #4caf50;
    }

    .pango-negative {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 50%;
      width: 50%;
      background-color: #b9434d;
    }
  }
}
