<!-- <pango-general-stats [ibdData]="categories"></pango-general-stats>
 -->


<div *ngFor="let item of annotations" class="pango-section">
  <h2 class="pango-section-title">{{ item.sectionLabel }}</h2>
  <div *ngFor="let category of item.categories" class="pango-category-row" fxLayout="row" fxLayoutAlign="start center">
    <div class="pango-category-title">
      <div>{{ category.categoryLabel }}</div>
    </div>

    <div fxFlex="" class="pango-matrix">
      <div class="pango-square" *ngFor="let module of category.modules" [style.background-color]="module.grayscaleColor"
        title="{{ module.moduleLabel }}" (click)="openAnnotationSummary(module)">
        <div *ngIf="module.disposition" class="pango-positive"></div>
        <div *ngIf="module.disposition" class="pango-negative"></div>
        <span></span>
      </div>
    </div>
  </div>
</div>