<!-- <pango-general-stats [ibdData]="categories"></pango-general-stats>
 -->


<div class="w-100-p" fxLayout="column" fxLayoutAlign="start center">
  <div class="w-100-p pango-section" *ngFor="let item of annotations" fxLayout="row" fxLayoutAlign="start center">
    <h2 class="pango-section-title">{{ item.sectionLabel }}</h2>
    <div fxFlex="" fxLayout="column" fxLayoutAlign="start center">
      <div *ngFor="let category of item.categories" class="pango-category-row w-100-p" fxLayout="row"
        fxLayoutAlign="start center">
        <div class="pango-category-title">
          <div>{{ category.categoryLabel }}</div>
        </div>

        <div fxFlex="" class="">

          <div class="pango-matrix">
            <ng-container *ngFor="let module of category.modules">
              <div class="pango-square" *ngIf="!module.disposition" [style.background-color]="module.grayscaleColor"
                title="{{ module.moduleLabel }}" (click)="openAnnotationSummary(module)">

                <ng-container *ngIf="module.dispositionSources?.length > 1">
                  <div class="pango-positive" [ngStyle]="{'background-color': module.dispositionSources[0].refAnnotation?.matchPercentage
 > 0 ? '#489470' : 'transparent'}"
                    (click)="$event.stopPropagation(); openAnnotationSummary(module.dispositionSources[0].refAnnotation)">
                  </div>
                  <div class="pango-negative" [ngStyle]="{'background-color': module.dispositionSources[1].refAnnotation?.matchPercentage
 > 0 ? '#d46565' : 'transparent'}"
                    (click)="$event.stopPropagation(); openAnnotationSummary(module.dispositionSources[1].refAnnotation)">
                  </div>
                </ng-container>

                <span></span>
              </div>
            </ng-container>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>