<div fxLayout="column" fxLayoutAlign="start stretch" class="pango-drawer w-100-p h-100-p">
  <div class="pango-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="pango-drawer-header-title">
      My Genes</span>
    <span fxFlex></span>

    <label for="pango-upload-config" fxLayout="row" fxLayoutAlign="start center" class="pango-file-upload">
      <button mat-stroked-button olor="warn" class="pango-rounded-button pango-xs mr-8 pango-file-button">
        Upload Gene File
      </button>


    </label>
    <input #configFileInput type="file" id="pango-upload-config"
      (click)="$event.target.value = '';configFileInput.value = null" value=""
      (change)="annotationService.onGeneFileSelected($event)" class="pango-file-upload" />




    <button mat-stroked-button (click)="close()" class="pango-rounded-button pango-xs" color="primary"
      aria-label="Close dialog">Close
    </button>
  </div>
  <div class="pango-drawer-body" fxLayout="column" fxLayoutAlign="start start" pangoPerfectScrollbar>


    <div class="pango-gene-display w-100-p">
      <div class="pango-gene-header">My Genes</div>
      <div class="cards" fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngFor="let gene of annotationService.geneList"
          [class.selected]="gene.id === annotationService.selectedGeneList?.id" class="card plan">
          <div class="inner">
            <span class="pricing">
              <span>{{gene.count}} <small>/ 7000</small></span>
            </span>
            <h2 class="title">{{gene.description}}</h2>
            <p class="info">Gene information goes here</p>
            <ul class="features">
              <li><span>Feature 1</span></li>
              <li><span>Feature 2</span></li>
            </ul>
            <div class="action-buttons">
              <button (click)="selectGene(gene)" class="button pango-select-btn">Select</button>
              <button (click)="editGene(gene)" class="button pango-edit-btn">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>





  </div>
  <!--   <div fxLayout="row" fxLayoutAlign="start center" class="pango-drawer-footer pango-submit-row">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Close</button>
  </div> -->
</div>