<div fxLayout="column" fxLayoutAlign="start stretch" class="pango-drawer w-100-p h-100-p">
  <div class="pango-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="pango-drawer-header-title">
      My Genes</span>
    <span fxFlex></span>

    <label for="pango-upload-config" fxLayout="row" fxLayoutAlign="start center" class="pango-file-upload">
      <button mat-stroked-button olor="warn" class="pango-rounded-button pango-xs mr-8 pango-file-button">
        Upload Gene File
      </button>


    </label>
    <input #configFileInput type="file" id="pango-upload-config"
      (click)="$event.target.value = '';configFileInput.value = null" value=""
      (change)="annotationService.onGeneFileSelected($event)" class="pango-file-upload" />




    <button mat-stroked-button (click)="close()" class="pango-rounded-button pango-xs" color="primary"
      aria-label="Close dialog">Close
    </button>
  </div>
  <div class="pango-drawer-body" fxLayout="column" fxLayoutAlign="start start" pangoPerfectScrollbar>


    <div class="pango-gene-display w-100-p">
      <div fxLayout="column" fxLayoutAlign="start stretch">
        <div *ngFor="let gene of annotationService.geneList" (click)="selectGene(gene)"
          [class.selected]="gene.id === annotationService.selectedGeneList?.id" class="pango-card-gene mb-4">
          <div class="pango-gene-count">
            <span>{{gene.count}} <small>/ 6567</small></span>
          </div>

          <h4 class="pango-title">{{gene.description}}</h4>
          <span fxFlex=""> </span>

          <div class="pango-actions" fxLayout="row" fxLayoutAlign="start center">
            <button fxFlex="50%"
              class="pango-rounded-button pango-half-button pango-r pango-xs pango-action-button mr-4"
              mat-stroked-button (click)=editGene(gene) color="primary">
              <fa-icon class="pango-icon pango-selected-icon" [icon]="['fas', 'pen']"></fa-icon>
            </button>
            <button fxFlex="50%"
              class="pango-rounded-button pango-half-button pango-l pango-xs pango-action-button mr-4"
              mat-stroked-button (click)="editGene(gene)" color="primary" matTooltip="Save Model Changes"
              [matTooltipPosition]="'below'" [matTooltipShowDelay]="1000">
              <fa-icon class="pango-icon pango-selected-icon" [icon]="['fas', 'trash']"></fa-icon>
            </button>
          </div>

        </div>
      </div>
    </div>





  </div>
  <!--   <div fxLayout="row" fxLayoutAlign="start center" class="pango-drawer-footer pango-submit-row">
    <span fxFlex></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-8">Close</button>
  </div> -->
</div>