@import "src/@pango/scss/pango";
@import "src/@pango.common/scss/pango.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .pango-drawer {
    @include deep-width(100% !important);
  }

  .pthr-file-upload-header {
    height: 35px;

    button {
      @include deep-height(35px);

      &.pthr-file-button {
        pointer-events: none;
      }
    }

    label {
      padding: 0;
    }

    .pthr-file-upload-title {
      margin-left: 4px;
      color: #888;
      font-weight: bold;
    }
  }

  .matched-gene {
    background-color: #106323 !important;
    color: #f2f2f2;
  }

  .matched-node {
    background-color: #a5d8b1 !important;
  }

  .pango-gene-header {
    font-size: 1.2em;
    margin-bottom: 10px;
    /* Other styles */
  }

  .pango-node {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    /* Other styles */
  }

  .pango-node.pango-selected {
    background-color: #e0f7fa; /* Highlight color for selected gene */
  }

  .pango-node p {
    margin: 5px 0;
  }

  .pango-gene-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .pango-select-btn,
  .pango-edit-btn {
    padding: 5px 10px;
    cursor: pointer;
    /* Other styles */
  }
}
